
		.contenedor::-webkit-scrollbar {
			-webkit-appearance: none;
		}

		.contenedor::-webkit-scrollbar:vertical {
			width: 9px;
		}

		.contenedor::-webkit-scrollbar-button:increment,
		.contenedor::-webkit-scrollbar-button {
			display: none;
		}

		.contenedor::-webkit-scrollbar:horizontal {
			height: 10px;
		}

		.contenedor::-webkit-scrollbar-thumb {
			background-color: #797979;
			border-radius: 20px;
			border: 2px solid #f1f2f3;
		}

		.contenedor::-webkit-scrollbar-track {
			border-radius: 10px;
		}

		.screen-reader-text {
			background-color: grey;
			border-radius: 50%;
			width: 50px;
			height: 50px;
		}

		.screen-reader-text:hover {
			background-color: #d83343;
			border-radius: 50%;
			width: 50px;
			height: 50px;
		}

		.mostrar {
			visibility: hidden;
		}

		.capa:hover .mostrar {
			visibility: visible;
		}

.capa{
    transition: color 0.8s linear 0.2s;
	transition: visi;

}

		.capa:hover .zoom {
			-webkit-transform: scale(0.85);
			-moz-transform: scale(0.85);
			-ms-transform: scale(0.85);
			-o-transform: scale(0.85);
			transform: scale(0.85);
        }
        
.menu{
    box-shadow:1px 7px 15px #a2a2a2;
}

.car{
	vertical-align: top;
	background: white;
	color: black;
	border-radius: 50%;
	font-size: calc(0.35em + 0.35vmax)
}

.menuPerfil{
	width: 2.5em;
	height: 2.5em;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%; 
}

.carrusel{
	object-fit: cover;
	height: 40vw;
	width: 100%;
}

.contentCarrusel{
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.imageninicio{
	width:100%;
	 max-width:360px;
	 height:50vh
	 ;max-height:360px;
	 position:relative;
	 box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.banderainicio{
	width:22px;
	 height:22px;
	  max-width:22px;
	   max-height:22px;
		min-width:22px;
		 min-height:22px;
}

.imgcarritoinicio{
	width:50vh;
	max-width:140px;
	height:50vh;
	max-height:140px;
	position:relative;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.imgmodalinicio{
	width:100%;
	 max-width:360px;
	 height:50vh;
	 max-height:360px;
	 position:relative;
	 box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.cardAdmin{
	box-shadow:1px 7px 15px #a2a2a2;
	margin:-25px -25px 0px -25px;
	background: linear-gradient(-90deg, #000000, #d83343);
}

.imgPerfil{
	width:50vh;
	 max-width:170px;
	 height:50vh;
	 max-height:170px;
	 position:relative;
	 box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.inputFile{
	visibility:hidden;
	position:absolute;
	display:none;
}

.cardDom{
	box-shadow:1px 7px 15px #a2a2a2;
	margin:-25px -25px 0px -25px;
	background: linear-gradient(-90deg, #59b5cd,#d83343);
}

.centerdiv{
	margin: 0 auto;
}

.cardCl{
	box-shadow:1px 7px 15px #a2a2a2;
	margin:-25px -25px 0px -25px;
	background: linear-gradient(-90deg, #D9CB09, #d83343);
}

.compra{
	
	overflow: auto;
	display:inline-block;
}

.imgcompra{
	width:50vh; max-width:110px;height:50vh;max-height:110px;position: relative;overflow: hidden;border-radius: 8px;z-index: 1;
}

.cantidadp{
	font-size: calc(0.45em + 0.45vw);line-height: 20px;white-space: nowrap;text-align: center;border-radius: 50%;background-color: red;-webkit-box-sizing: border-box;box-sizing: border-box;min-width: 20px;height: 20px;padding: 0 0.5833333333em;position: absolute;right: -0.5em;top: -0.75em;z-index: 3;
}

.carousel-indicators li {
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }